.circle{
    border-radius: 50%;
    height: 43%;
    width: 31%;
    outline: 0px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 3px 5px black;
    flex-direction: column;
    transition: all 1s ease;
}

.first{
  height: 45%;
  width: 31%;
}

.second{
  height: 50.75%;
  width: 36.75%;
}

.third{
  height: 52.75%;
  width: 38.75%;
}

.fourth {
  height: 55.75%;
  width: 41.75%;
}

.circleText {
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 18px;
    max-width: 10vw;
    text-align: center
}

.descText{
  max-width: 12vw;
  text-align: center;
  font-size: .9vw
}

#circle1{
    position: absolute;
    left: 60%;
    top: 0%;
    transition-duration: .5s;
  }

#circle2{
    position : absolute;
    left: 60%;
    top: 55%;
    background-color: #6587FF;
    transition-duration: .5s;
    z-index: 999;

  }

#circle3{
    position : absolute;
    left: 10%;
    top: 55%;
    background-color: #1FD7AE;
    transition-duration: .5s;
    z-index: 1000;

  }

#circle4{
    position : absolute;
    left: 10%;
    top: 0%;
    background-color: #FF7A40;
    transition-duration: .5s;
    z-index: 999;
  }

#circle1:hover{
    z-index: 0;
    box-shadow: 0 10px 10px black
}

#circle2:hover{
  box-shadow: 0 10px 10px black
}
#circle3:hover{
  box-shadow: 0 10px 10px black
}
#circle4:hover{
  box-shadow: 0 10px 10px black
}

.container {
  display: flex;
  align-items: flex-start;
  list-style: none;
  flex-wrap: wrap;
}

