.bar-button-container{
    display:flex;
    padding-top: 98px;
    justify-content: center;
}
.SearchBar {
    background-color: #fbfcfd;
    width: 517px;
    height: 40px;
}

.searchButton {
    text-transform: none;
}

.searchEntry{
    display: flex;
    justify-content: center;
}