.bar-button-container{
    display:flex;
    padding-top: 98px;
    justify-content: center;
}
.SearchBar {
    background-color: #fbfcfd;
    width: 517px;
    height: 40px;
}

.searchButton {
    text-transform: none;
}

.searchEntry{
    display: flex;
    justify-content: center;
}

.bar-button-container{
    width: 1440px;
    height: 50px;
    margin: 0 0 118px;
    /* padding: 35px 100px 4px; */
    padding-top: 35px;
    background-color: #ffe5da;
}