@font-face {
    font-family: LabilGroteskTrial;
    font-weight: bold;
    src: url(../../fonts/LabilGroteskTrial-Bold.otf) format("opentype");
}

.container{
    display: flex;
}

.resources-box{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 1240px;
    height: auto;
    margin: 90px 130px 3px;
    padding-right: 60px;
    flex: 1 2;
}

.learn-box{
    background-color: #ccfcf3;
    flex:1 2 ;
}

/* @media only screen and (max-width:993px) {
    text-align: center;
} */

.learn-title{
    color: #ff7a40;
    justify-content: center;
    font-size: 40px;
    font-weight: bold;
    font-family: LabilGroteskTrial;
    display: flex;
    padding-top: 70px;
    padding-bottom: 70px;
}

.description{
    font-size: 22px;
    color:white;
    display: flex;
    justify-content: center;

}

.quiz-title{
    color: white;
    font-size:22px;
    font-family: LabilGroteskTrial;
    font-weight: bold;
    width: 300px;
    height: 40px;
    margin: 51px 350px 0;
    padding: 10px 120px;
    border-radius: 28px;
    text-align: center;
    background-color: #ff7032;
}

.quiz-section{
    margin-left: 350px;
}